<%= form_with url: end_purchases_path, method: :post, local: true do |f| %>

  <% @carts.each do |cart| %>
    <%= image_tag attachment_url(cart['item'], :item_image, :fill, 80, 80, format: "jpg"),class: 'attachment user profile_image fallback' %><br>
    <%= cart["name"] %><br>
    <%= cart['artist'] %><br>
    <%= cart['price'] %><br>
    <%= cart['purchase_quantity'] %><br>
    <%= f.select "address_name#{cart['id']}", address_name_arrays(@addresses) %><br>
    <%= @addresses[0]["name"] %><br>
    <%= @addresses[0]['postal_code'] %><br>
    <%= @addresses[0]['address'] %><br>
    電話番号<%= @addresses[0]['telephone_number'] %><br>

    <%= f.select "method_of_payment#{cart['id']}", [ ['銀行振込', '銀行振込'], ['クレジットカード', 'クレジットカード'], ['代金引換', '代金引換'] ], :selected=>@user['usually_payment'] %>
  <% end %>

  <div>
    注文内容確定<br>
    商品の小計<br>
    発送料・手数料<br>
    ご請求額<br>
    <%= f.submit '注文を確定する' %>
  </div>


<% end %>