<div class="container admin-header">
  <div class="row">
      <div class="col-md-3">
		<%= link_to "トップ", admin_purchase_histories_path, class: 'm_header-button-1' %>
      </div>
      <div class="col-md-3">
		<%= link_to "商品追加", new_admin_item_path, class: 'm_header-button-1' %>
	  </div>
	  <div class="col-md-3">
		<%= link_to "商品一覧", admin_items_path, class: 'm_header-button-1' %>
	  </div>
	  <div class="col-md-3">
		<%= link_to "aaaレビュー一覧", admin_reviews_path, class: 'm_header-button-2' %><br>
		<%= link_to "ユーザー一覧", admin_users_path, class: 'm_header-button-2' %><br>
	    <%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete, class: 'm_header-button-2' %>
	  </div>
  </div>
</div>