<div class="container end-header">
  <div class="row">
      <div class="col-md-2">
		<%= link_to "MUSIC SHOP", end_items_path, class: 'm.shop_name' %>
      </div>
      <div class="col-md-8">
		<%= form_with url: search_end_items_path, method: :post, local: :true do |f| %>
		  <%= f.text_field class: "input-xlarge" %><%= f.submit "検索", class: 'm.submit_button' %>
		<% end %>
	  </div>
	  <div class="col-md-1">
		<%= link_to "ログイン", new_end_user_session_path %>
	  </div>
	  <div class="col-md-1">
		<%= link_to "新規登録", new_end_user_registration_path %>
	  </div>
  </div>
</div>