<div class="nested-fields y-nest">

  <div class="form-disc">
    <span><span class="y_disc_num">1</span>枚目</span>　<%= link_to_remove_association "ディスク削除", f ,class:"btn btn-danger"%>
    <div class="y_disc">
      <%= f.hidden_field :disc_number ,:value => 1 %>
    </div>

  </div>

  <div class="music">
    <%= f.fields_for :musics do |music| %>
      <%= render 'music_fields', f: music %>
    <%end%>

    <div class="links">
      <%= link_to_add_association "曲名追加", f, :musics, class:"btn btn-info" %>
    </div>

  </div>


</div>