<table class="table table-bordered table-hover y_item_table" style="font-size: 20px">
  <thread>
    <tr>
      <th style="width: 35px">ID</th>
      <th style="width: 100px">画像</th>
      <th style="width: 400px">シングル/アルバム名</th>
      <th style="width: 100px">価格</th>
      <th style="width: 65px">状態</th>
      <th style="width: 80px">在庫</th>
      <th style="width: 65px">表示</th>
      <th style="width: 65px">編集</th>
      <th style="width: 65px">削除</th>
    </tr>
  </thread>
  <tbody>
  <% items.each do |item|%>

    <tr>
      <td><p><%= item['id'] %></p></td>
      <td><%= image_tag attachment_url(item, :item_image, :fill, 80, 80, format: "jpg"),class: 'attachment user profile_image fallback' %></td>
      <td><p><%= item['item_name'] %></p></td>
      <td><p><%= item['price'] %>円</p></td>
      <td>
        <% if item['sale_condition'] == "販売中" %>
          <i class="fa fa-circle-o fa-2x fa-fw" style="color: blue"></i>
        <% else %>
          <i class="fa fa-ban fa-2x fa-fw" style="color: red"></i>
        <% end %>
      </td>
      <td><p><%= item['stock'] %>枚</p></td>
      <td>
        <%= link_to end_item_path(item['id']) do %>
          <i class="fa fa-music fa-2x fa-border" style="color: black" ></i>
        <% end %>
          </td>
      <td>
        <%= link_to edit_admin_item_path(item['id']) do %>
          <i class="fa fa-edit fa-2x fa-border" style="color: black"></i>
        <% end %>
          </td>
      <td>
        <%= link_to admin_item_path(item['id']), :method => :delete do %>
          <i class="fa fa-remove fa-2x fa-border" style="color: red"></i>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>