<div class="nested-fields form-inline">
  <div class="form-tag-discription">
    <%= f.label "曲順" %>
    <%= f.text_field :music_order %>
    <%= f.label "曲名" %>
    <%= f.text_field :music_name %>
    <%= link_to_remove_association "remove description", f %>
  </div>
</div>