<%= render 'admin_header/header' %>

< %= form_with url: search_admin_purchase_histories_path

<table class="table">
  <thead>
    <tr>
      <th>注文番号</th>
      <th>注文日</th>
      <th>ステータス</th>
      <th>商品名</th>
      <th>歌手名</th>
      <th>枚数</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_histories.each do |p| %>
      <tr>
        <td><%= p.purchase_detail_id %></td>
        <td><%= p.created_at %></td>
        <td><%= p.shipping_status %></td>
        <td><%= p.item_name_history %></td>
        <td><%= p.artist_name_history %></td>
        <td><%= p.sale_number %></td>
        <td><%= link_to "", purchase_history_path(p.id), class: "glyphicon glyphicon-arrow-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>