<div class="nested-fields">
	<%= f.hidden_field :id %>
	<%= f.label :postal_code, "郵便番号" %><br>
    <%= f.text_field :postal_code %><br>
    <%= f.label :address, "住所" %><br>
    <%= f.text_area :address %><br>
    <%= f.label :telephone_number, "電話番号" %><br>
    <%= f.text_field :telephone_number %><br>
</div>