<%= render 'admin_header/header' %>
<div class="y_admin_user_content">
  <h2 class="y_h2">登録ユーザーの一覧</h2>
  <%= form_with url: search_admin_users_path, method: :get, local: true, class: "y_search_user_name" do |f| %>
    <h3 class="y_h3">ユーザー名検索</h3>
    <%= f.text_field "search_word", class: "test y_search_text_field", placeholder: "ユーザー名"%>
    <%= f.submit "検索",class: "y_search_button" %>
  <% end %>

  <p>登録ユーザー数　<%= @users.count %>件</p>
  <%= render "user_table", users: @users %>
</div>