<%= render 'end_header/login_header' %>

<div class="container">
 	<div class="row">
		<div class="col-xs-12">
			<h2>退会ページ</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= form_with url: delete_end_user_path(current_end_user.id), method: :post, local: true do |f| %>
				<%= f.label :unsubscribe_email, "メールアドレス" %><br>
				<%= f.email_field :unsubscribe_email, placeholder:"ここにメールアドレスを入力", class:"col-xs-3" %>
				<%= f.submit %>
			<% end %>
        </div>
    </div>
</div>
