<% if end_user_signed_in? %>
  <%= render 'end_header/login_header' %>
<% else %>
  <%= render 'end_header/not_login_header' %>
<% end %>

<h1 class="cart-head">カート</h1>

<%= form_with url: end_cart_item_path("cart"), method: :put, local: true do |f| %>

  <% @carts.each do |cart| %>
    <%= image_tag attachment_url(cart['item'], :item_image, :fill, 80, 80, format: "jpg"),class: 'attachment user profile_image fallback' %><br>
    <%= cart["name"] %><br>
    <%= cart['artist'] %><br>
    <%= cart['price'] %><br>
    <%= f.text_field cart['id'], value: cart['purchase_quantity'] %><br>
    <%= cart['condition'] %><br>
    <%= link_to "削除", end_cart_item_path(cart['id']), method: :delete %><br>
  <% end %>

  <% if is_sale(@is_able_purchase_list) %>
    <%= f.submit '購入' %>
  <% else %>
    <%= f.submit '購入量更新' %>
  <% end %>

<% end %>